# common
.DS_Store
thumbs.db
temp
tmp

# project
node_modules
public
.cache
.parcel-cache
*.log
build
dist

# mierda de intelij de los cojones
.idea/

# environment
.env
.env.local
.env.production
.env.development
